<h1>
  Edit movie #<%= @movie.id %>
</h1>

<hr>

<form action="/update_movie/<%=@movie.id%>" >
  <!-- Label and input for title -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="the_title" class="form-control" value="<%= @movie.title %>">
  </div>

  <!-- Label and input for year -->
  <div class="form-group">
    <label for="year">
      Year
    </label>

    <input type="text" id="year" name="the_year" class="form-control" value="<%= @movie.year %>">
  </div>

  <!-- Label and input for duration -->
  <div class="form-group">
    <label for="duration">
      Duration
    </label>

    <input type="text" id="duration" name="the_duration" class="form-control" value="<%= @movie.duration %>">
  </div>

  <!-- Label and input for description -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="the_description" class="form-control" rows="3"><%= @movie.description %></textarea>
  </div>

  <!-- Label and input for image_url -->
  <div class="form-group">
    <label for="image_url">
      Image url
    </label>

    <input type="text" id="image_url" name="the_image_url" class="form-control" value="<%= @movie.image_url %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update movie
  </button>
</form>

<hr>

<a href="/movies">
  Go back
</a>
