<h1>
  All movies
</h1>

<a href="/movies/new">
  Add a new movie
</a>

<hr>

<table class="table">
  <tr>
    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Duration
    </th>

    <th>
      Description
    </th>

    <th>
    </th>
  </tr>

  <% @movies.each do |movie| %>
  <tr>
    <td>
      <img src="<%= movie.image_url %>" width="80">
    </td>

    <td>
      <%= movie.title %>
    </td>

    <td>
      <%= movie.year %>
    </td>

    <td>
      <%= movie.duration %>
    </td>

    <td>
      <%= movie.description %>
    </td>

    <td>
      <a href="/movies/<%= movie.id %>" class="btn btn-primary">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
